<div class="container">
  <h1>Hello NP Family</h1>
  <hr />
  <hr />
  <h3>Please Click on button to generate Form1 And Form2</h3>
  <hr />

  <!-- Add here form-preview Start -->
  <app-form-preview [viewModeC]="'basic'" [uiBindingsC]="uiBindings" [rxwebDynamicFormC]="dynamicForm">
  </app-form-preview>
  <!-- Add here form-preview End -->
  <button class="btn btn-primary mt-4" (click)="generate1()">Generate Form 1 </button>
  <button class="btn btn-primary mt-4 mx-4" (click)="generate2()">Generate Form 2 </button>

</div>